    GLOBAL_SETTINGS
    GRADE_CONTAINER client
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED telnetlab_jean_seed
    REGISTRY vda0511
NETWORK SOME_NETWORK
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.100
CONTAINER client
     USER ubuntu
     X11 NO
     SOME_NETWORK 172.20.0.2
CONTAINER server
     USER ubuntu
     X11 NO
     SOME_NETWORK 172.20.0.3
